<div ng-app="app">
  <div ng-controller="exampleCtrl">
    <table> 
      <tr> 
        <th> {{message}} </th>
        <th> {{message_2}} </th>
        <th> {{message_3}} </th>
      </tr>
      <tr>
        <td> <input ng-model="message"> </td>
        <td> <input ng-model="message_2"> </td>
        <td> <input ng-model="message_3"> </td>
      </tr>
    </table>





  </div>
</div>


<!-- *** ng-model = instance variable ***-->
<!-- ng-repeat is how you each thru something -->
<!-- <div ng-repeat="review in reviews"> {{review}} -->